* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}

.hero{
    height:100vh;
    background-image:url("https://cdn.mos.cms.futurecdn.net/DNCm9L7JhaHx3UJirwbeTT-600-80.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-text{
    max-width:600px;
}

.hero h1{
    font-size:48px;
}

.hero p{
    font-size:20px;
    margin:20px 0;
}

.btn-primary{
    background:#2c7be5;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:6px;
}

.how-it-works{
    padding:60px 20px;
    text-align:center;
}

.steps{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:30px;
}

.step{
    width:250px;
}

.features{
    background:#fafafa;
    padding:60px 20px;
    text-align:center;
}

.feature-grid{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:30px;
}

.feature{
    width:250px;
}

.footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}


   